.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.start-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #e60073;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.start-button:hover {
    background-color: #cc0066;
}
